<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppContext" connectionString="metadata=res://*/EDMX.AppContext.csdl|res://*/EDMX.AppContext.ssdl|res://*/EDMX.AppContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.250;initial catalog=MenzisWebshopApi;persist security info=True;user id=sa;password=!@#123abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>