<?xml version="1.0" encoding="utf-8" ?>
<representations>
  <representation type="Framework.WebApi.Web.Representations.EntryPage">
    <hints>
      <hint>
        <key>welcome</key>
        <value>Welcome to our api, version 1.</value>
      </hint>
      <hint>
        <key>hint_1</key>
        <value>We support mediatypes: application/json, application/hal+json</value>
      </hint>
    </hints>
  </representation>
</representations>